.MuiTimeline-root{
  margin-bottom: 0px ;
  padding-top: 0px !important;
  padding-bottom: 0px !important;

}

.MuiTimelineItem-root {
  margin-bottom: 0px ;
}

.timeline .connector{
  background-color: var(--main-color) ;
}

.timeline .timeline_date{
  padding-top: 11px;
}

.timeline .timeline_text{
  font-size: 16px;
  font-weight: 500 !important;
}



/* .con {
  height: 25px;
  width: 25px;
}

.con .svg {
  transform: scale(0.4);
} */
